body,
html,
#root {
    margin: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}


.home-container {
    height: 100vh;
}

.scroll-container {
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.color-block {
    height: 60vh;
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-family: Arial, sans-serif;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    width: 80vw;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: height 1s, width 1s, border-bottom-left-radius 1s, border-bottom-right-radius 1s;
}

.top-bar-open {
    width: 100vw;
    height: 100vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.divv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid white;
    align-items: flex-start;
    height: 50%;
}

.span {
    border: 1px solid white;
}

#top-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 4rem;
    flex: 1;
}

#top-bar-content .title {
    display: flex;
    justify-content: center;
    align-items: center;
}